<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>sk.eyJ1Ijoia29ic3RyIiwiYSI6ImNsMnFkN291ajA4aWozY3B1cTA2ODk0bnkifQ.-utTHxq6nYDdmVgVMW_hYA</string>
</dict>
</plist>
